/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Шрифты */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
    font-family: "PT Sans", sans-serif;
    /*font-family: 'Arsenal', sans-serif;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

/*a:hover {
    color: #175E91;
}*/

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 0;
}

.header {
    background-color: #393185;
    color: #eee;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 2.5em;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

.phone {
  line-height: 4em;
}

.phone a,
.social a {
    vertical-align: middle;
    transition: 0.5s;
    color: white;

}

.phone a, i {
  font-size: 1.5em;
  font-weight: 400;
}

.social a {
  font-size: 2em;
    margin: 0 10px;
}

.footer {
    background-color: rgb(66, 66, 66);
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    box-shadow: 0 2px 30px rgba(77, 77, 77, 0.64);
    z-index: 1;
}

.footer p {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.phone:hover,
.phone a:hover,
.social a:hover {
    /*filter: drop-shadow(0 0 1px #6fdf6c);*/
    text-shadow: 0 0 10px #000000;
    color: #888;
    transition: 0.2s;
}

.popup-ok {
  position: absolute;
  /*display: inline-block;*/
  width: 60%;
  height: 0vh;
  bottom: 0vh;
  overflow: hidden;
  left: 20%;
  /*border: 2px solid red;*/
  background-color: #ffffff;
  box-shadow: 0 2px 30px rgba(77, 77, 77, 0.64);
  z-index: 0;
  /*transform: translateY(px);*/
}

.popup-text {
  text-align: center;
}

.popup-ok::after {

}

.pure-form {
    font-size: 1.5em;
    max-width: 500px;
    margin: 0 auto;
}

.form-container {
    padding: 0;
}

.pure-form button {
    width: 100%;
}

.content-head {
    font-size: 3em;
}

.call-form {
    font-size: 2em;
}
