* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    font-family: 'Arsenal', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
    font-family: 'Arsenal', sans-serif;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    display: block;
    background: #1f8dd6;
    z-index: -1;
    background-image: url(../images/head_background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 95vh;
    top: 3.4em;
    left: 0;
    position: fixed !important;
}

.splash {
    /*background-image: url(../images/strip.svg);*/
    /*background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(246, 46%, 36%));*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 100%;*/

    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 100%;
    /*margin: auto;*/
    position: absolute;
    /*top: 100px; left: 0; bottom: 0; right: 0;*/
    /*text-align: center;*/
    text-transform: uppercase;
    animation: colorchange 5s infinite ease-in-out;
    -webkit-animation: colorchange 5s infinite ease-in-out;
    transition: 5s;

    background: linear-gradient(36deg, #00cc97, #8351c8);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@keyframes colorchange {
    0% {background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(0, 46%, 36%))}
    100%{background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(180, 46%, 36%))}
}


@-webkit-keyframes colorchange {
    0% {background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(0, 46%, 36%))}
    100%{background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(180, 46%, 36%))}
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}


.strip {
    position: absolute;
    top: 0;
    height: 30%;
}

.made_in_crimea {
    position: absolute;
    right: -40px;
    width: 40%;
}

.logo_wrapper {
    position: absolute;
    max-width: 700px;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    /*outline: 1px solid black;*/
}

.sights {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -130%);
    /*box-shadow: 0 20px 10px black;*/
    max-width: 100%;
}

.big_logo {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 20px 10px black;*/
    max-width: 100%;
}

.dice {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -70%);
    /*box-shadow: 0 20px 10px black;*/
    max-width: 50%;
}

.age_players {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 10vw;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash_button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash_button a{
    font-size: 200%;
    transition: 0.2s;
}

.splash_button:hover a{
    font-size: 300%;
    background-color: #23dc80;
    color: #ffffff;
    transition: 0.2s;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 100vh;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0em;
    /*margin: 2em 0 1em;*/
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .content-wrapper {
        /* These styles are required for the "scroll-over" effect */
        position: absolute;
        top: 100vh;
        width: 100%;
        min-height: 12%;
        z-index: 2;
        background: white;

    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
    .splash-container {
        height: 95vh;
        top: 3em;
    }

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 100%;
        height: 100%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
