{% extends 'partials/base.html.twig' %}

{% block content %}
<style media="screen">

.content-wrapper {
    top: 25%;
}

</style>

    <div class="lead text-center">
        <h1>Error!</h1>
        {{ page.content }}
    </div>
{% endblock %}
