<div class="complectation_wrapper">

  <h2>В комплекте с игрой идут:</h2>

    <ul class="pure-g complectation_items">
      {% for item in page.header.items %}
      <li class="pure-u-1 pure-u-md-1-3 complectation_item">
        <div class="complectation_item image">
            <img src="{{ page.media[item.image].url }}" alt="">
        </div>
        <div class="complectation_item description">
          <p>{{ item.title }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>

</div>
