<div class="content">
    <h2 class="content-head is-center">Представляем Вам нашу версию давно известной всем классической настольной игры <strong>«Монополия»</strong></h2>

    <div class="pure-g">
      {% for item in page.header.items %}
        <div class="content_item l-box pure-u-1-2 pure-u-lg-1-4">

            <h3 class="content-subhead">
                <i class="{{ item.icon }}"></i>
            </h3>
            <p>{{ item.text }}</p>

        </div>
      {% endfor %}
    </div>
</div>
