{% block footer %}
<div class="footer text-center">
    <div class="pure-g wrapper padding">
        <p class="pure-u-1 pure-u-md-1-3"><i class="fa fa-copyright"></i> Монополия Крым 2017</p>
        <div class="pure-u-1 pure-u-md-1-3 phone">
            <a href="tel:+7(978)058-31-22"><i class="fa fa-phone-square" aria-hidden="true"></i> +7(978)058-31-22</a>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 social">
            <a href="https://vk.com/monopoly.crimea">
                <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
            <a href="https://instagram.com">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
