    <div class="footer text-center">
        <div class="wrapper padding">
            <div class="contacts">
                <div class="phone">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <a href="tel:+7(978)058-31-22">+7(978)058-31-22</a>
                </div>
                <div class="social">
                    <a href="https://vk.com/monopoly.crimea">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="https://instagram.com">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <p>Монополия Крым <i class="fa fa-copyright"></i> 2017.</p>
        </div>
    </div>