<div class="pure-g">
    <div class="l-box pure-u-1">
        <h2 class="content-head is-center">Спешите стать её владельцем.</h2>
        <h4 class="call-form is-center">Оформите заявку, заполнив форму:</h4>
    </div>
    <div class="l-box-lrg pure-u-1 form-container">
        <form class="pure-form pure-form-aligned" action="email.php">
            <fieldset>

                <label for="name">Ваше имя</label>
                <input id="name" type="text" placeholder="Ваше имя">


                <label for="email">Ваш телефон</label>
                <input id="email" type="number" placeholder="Ваш телефон">

                <button type="submit" class="pure-button">Заказать</button>
            </fieldset>
        </form>
    </div>
</div>
