<div class="pure-g form-section">
    <div class="l-box pure-u-1">
        <h2 class="content-head is-center">Спешите стать её владельцем!</h2>
        <h4 class="call-form is-center">Оформите заявку, заполнив форму:</h4>
    </div>
    <div class="l-box-lrg pure-u-1 form-container">
        <form class="pure-form pure-form-aligned"  id="order" method="post">
            <fieldset>

                <label for="name">Ваше имя</label>
                <input name="name" id="name" type="text" placeholder="Ваше имя">


                <label for="phone">Ваш телефон</label>
                <input name="phone" id="phone" type="number" placeholder="Ваш телефон">

                <button type="submit" class="pure-button">Заказать</button>
            </fieldset>
        </form>
    </div>
</div>
