<div class="content promo">
<h3 class="content-head is-center">«Монополия Крым» поможет разнообразить Вам и Вашей компании свой досуг и принесет изюминку в обычные посиделки! Станет отличным и оригинальным подарком из Крыма для Ваших близких!</h3>
</div>
